//Fonts
$Poppins: Poppins, sans-serif;


//Colors 
$NewGrey: #4D4F53;
$Gold: #B3A87C;
$Gold2: #B3B38C;
$White: #FFFFFF;
$Orange: #AC672E;
$OldGrey: #455364;
$Grey: #B6B7B3;
$BackgroundGrey: #DAE3EC;
$TextWhite: #FEFEFE;
$Bronze: #B86E2E;
$Brown: #7E7371;
$Brown2: #8D817B;

//Media Queries
@mixin for-mobile-S {
  @media (max-width: 320px) { @content; }
}
@mixin for-mobile-L {
  @media (max-width: 425px) { @content; }
}
@mixin for-tablet {
  @media (max-width: 768px) { @content; }
}
@mixin for-laptop {
  @media (max-width: 1024px) { @content; }
}
@mixin for-laptop-L {
  @media (max-width: 1440px) { @content; }
}

//Buttons

