@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  display: flex;
}

h1 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 700;
  color: #B3A87C;
}
@media (max-width: 425px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 4.8rem;
  line-height: 5.2rem;
  font-weight: 500;
}
@media (max-width: 425px) {
  h2 {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}

h4 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 500;
}
@media (max-width: 425px) {
  h4 {
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 300;
}
@media (max-width: 425px) {
  h5 {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

p {
  font-size: 2.3rem;
  line-height: 3.3rem;
  font-weight: 300;
  color: #4D4F53;
}
@media (max-width: 425px) {
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

img {
  width: 100%;
}

@font-face {
  font-family: "Icons";
  src: url("../fonts/Icons.eot");
  src: url("../fonts/Icons.eot?#iefix") format("eot"), url("../fonts/Icons.woff") format("woff"), url("../fonts/Icons.ttf") format("truetype"), url("../fonts/Icons.svg#Icons") format("svg");
}
[class^=icon-]:before, [class^=icon-]:after {
  font-family: "Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:after {
  font-family: "Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before, .slider-Arrow .icon-arrow-right:before {
  content: "\e001";
}

.icon-close:before {
  content: "\e002";
}

.icon-Group:before {
  content: "\e003";
}

.icon-legal-logo:before {
  content: "\e004";
}

.icon-legal-logo-2:before {
  content: "\e005";
}

.icon-menu:before {
  content: "\e006";
}

header {
  background-color: #4D4F53;
}

button {
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
button .icon-menu {
  font-size: 1.6rem;
  color: #FFFFFF;
}
.sticky button .icon-menu {
  color: #B86E2E;
  transition: all 0.2s ease;
}
button .icon-close {
  font-size: 1.6rem;
  color: #FFFFFF;
}
.sticky button .icon-close {
  color: #B86E2E;
  transition: all 0.2s ease;
}

.icon-close-btn {
  display: none;
}

.icon-menu-btn {
  display: none;
}

.navbar {
  position: relative;
  top: 29px;
}
@media (max-width: 768px) {
  .navbar {
    top: 0;
  }
}
.sticky .navbar {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  top: 0;
  z-index: 3;
}

.navbar__content {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 25px;
  padding-bottom: 22.5px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1210px) {
  .navbar__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .navbar__content {
    padding-top: 25px;
  }
}
@media (max-width: 425px) {
  .navbar__content {
    padding-top: 15px;
    padding-bottom: 14px;
  }
}

.navbar__menu {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
  border-top: 1px solid #DAE3EC;
  z-index: 3;
  display: none;
}
@media (max-width: 425px) {
  .navbar__menu {
    text-align: left;
    padding-left: 20px;
  }
}

.navbar__list {
  margin-top: 50px;
  margin-bottom: 370px;
  list-style-type: none;
}
@media (max-width: 768px) {
  .navbar__list {
    margin-top: 70px;
    margin-bottom: 411px;
  }
}
@media (max-width: 425px) {
  .navbar__list {
    margin-top: 30px;
    margin-bottom: 312px;
  }
}
.navbar__list li {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .navbar__list li {
    margin-bottom: 17px;
  }
}
.navbar__list li:last-of-type {
  margin-bottom: 0;
}
.navbar__list li:nth-of-type(3) a {
  color: #AC672E;
}
.navbar__list li a {
  text-decoration: none;
  color: #4D4F53;
  font-size: 2.6rem;
  line-height: 3.9rem;
  font-weight: 400;
}
.navbar__list li a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .navbar__list li a {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 425px) {
  .navbar__list li a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.navbar__span {
  color: #475462;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-left: -163px;
  margin-top: -3px;
  display: none;
}
@media (min-width: 1024px) {
  .sticky .navbar__span {
    display: inline-block;
  }
}

.navbar__logo {
  z-index: 1;
  height: 42.5px;
  width: auto;
  display: none;
}
@media (max-width: 425px) {
  .navbar__logo {
    height: 31px;
    width: auto;
  }
}

.header__container {
  z-index: 1;
  max-width: 570px;
  width: 100%;
  margin-top: 105px;
  margin-bottom: 197px;
}
@media (max-width: 1210px) {
  .header__container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .header__container {
    margin-top: 57px;
    max-width: 544px;
    margin-bottom: 16px;
  }
}
@media (max-width: 425px) {
  .header__container {
    margin-top: 35px;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .sticky .header__container {
    margin-top: 196px;
  }
}

.header__group {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  max-width: 750px;
  width: 100%;
}
@media (max-width: 768px) {
  .header__group {
    position: relative;
    margin-bottom: -50.5%;
    max-width: 768px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
}

.header__content h4 {
  color: #FFFFFF;
  margin-bottom: 24px;
}
.header__content h4:last-of-type {
  display: none;
}
@media (max-width: 768px) {
  .header__content h4 {
    display: none;
  }
  .header__content h4:last-of-type {
    display: block;
  }
}
@media (max-width: 425px) {
  .header__content h4 {
    margin-bottom: 20px;
  }
}
.header__content hr {
  width: 100px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}
@media (max-width: 425px) {
  .header__content hr {
    margin-bottom: 20px;
  }
}
.header__content h1 {
  margin-bottom: 24px;
}
@media (max-width: 425px) {
  .header__content h1 {
    margin-bottom: 20px;
  }
}
.header__content h5 {
  color: #FFFFFF;
}

.active {
  display: inline-block;
}

.slider__container {
  width: 100%;
  height: 720px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .slider__container {
    height: 500px;
  }
}
@media (max-width: 425px) {
  .slider__container {
    height: 360px;
  }
}

.slider__content {
  height: 100%;
  width: 300%;
  display: flex;
  scroll-behavior: smooth;
  transition: 0.5s;
}

.slider__card {
  padding-top: 170px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1210px) {
  .slider__card {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .slider__card {
    padding-top: 70px;
    background-size: auto 500px;
  }
}
@media (max-width: 425px) {
  .slider__card {
    padding-top: 30px;
    background-size: auto 360px;
  }
}

@media (max-width: 1440px) {
  .container--primary {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .container--primary {
    justify-content: flex-start;
  }
}

.slider__text {
  position: relative;
  max-width: 570px;
  width: 100%;
  z-index: 2;
}
.slider__text h2 {
  letter-spacing: -2.56px;
  color: #FFFFFF;
}
@media (max-width: 425px) {
  .slider__text h2 {
    letter-spacing: 0;
  }
}

.slider__paragraph {
  font-size: 3rem;
  line-height: 4.2rem;
  font-weight: 300;
  margin-top: 40px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .slider__paragraph {
    display: none;
  }
}

.slider__paragraph--responsive {
  padding: 27px 20px 60px 20px;
  display: none;
}
@media (max-width: 425px) {
  .slider__paragraph--responsive {
    padding: 27px 20px 50px 20px;
  }
}
.slider__paragraph--responsive p {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #455364;
}
@media (max-width: 425px) {
  .slider__paragraph--responsive p {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

.slider__arrows {
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .slider__arrows {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    opacity: 0.8;
  }
}
@media (max-width: 425px) {
  .slider__arrows {
    height: 70px;
  }
}

.slider-Arrow {
  position: absolute;
  bottom: 330px;
  width: 60px;
  height: 60px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .slider-Arrow {
    position: relative;
    bottom: 5px;
    border: 1.5px solid #4D4F53;
  }
}
@media (max-width: 425px) {
  .slider-Arrow {
    width: 40px;
    height: 40px;
  }
}
.slider-Arrow .icon-arrow-left, .slider-Arrow .icon-arrow-right {
  font-size: 5rem;
  color: #FFFFFF;
  opacity: 0.7;
}
.slider-Arrow .icon-arrow-left:hover, .slider-Arrow .icon-arrow-right:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .slider-Arrow .icon-arrow-left, .slider-Arrow .icon-arrow-right {
    color: #4D4F53;
  }
}
@media (max-width: 425px) {
  .slider-Arrow .icon-arrow-left, .slider-Arrow .icon-arrow-right {
    font-size: 3rem;
  }
}
.slider__prev-Arrow {
  left: 140px;
}
@media (max-width: 768px) {
  .slider__prev-Arrow {
    left: 20px;
  }
}

.slider__next-Arrow {
  right: 140px;
  transform: rotate(180deg);
}
@media (max-width: 768px) {
  .slider__next-Arrow {
    right: 20px;
  }
}

.slider__indicators {
  position: absolute;
  bottom: 41px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}
@media (max-width: 768px) {
  .slider__indicators {
    position: relative;
    bottom: 0;
    left: 0;
    transform: translateX(0);
  }
}
.slider__indicators li {
  display: inline;
}

.slider__indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #455364;
  background-color: #455364;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
@media (max-width: 425px) {
  .slider__indicator {
    width: 10px;
    height: 10px;
    margin-right: 14px;
  }
}

.slider__indicator--primary {
  margin-right: 0;
}

.indicator__active {
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .paragraph__active {
    display: inline-block;
  }
}

.financial {
  background-color: #D3DEE4;
  padding-top: 80px;
  padding-bottom: 90px;
}
@media (max-width: 1023px) {
  .financial {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #FFFFFF;
  }
}

.financial__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .financial__container {
    flex-direction: column;
  }
}

.financial__text {
  max-width: 470px;
  width: 100%;
}
@media (max-width: 1210px) {
  .financial__text {
    padding: 28px 20px 42px 20px;
  }
}
@media (max-width: 1023px) {
  .financial__text {
    max-width: 1023px;
    width: 100%;
    background-color: #D3DEE4;
  }
}
@media (max-width: 768px) {
  .financial__text {
    padding: 28px 20px 28px 20px;
  }
}
.financial__text h2 {
  color: #4D4F53;
}
.financial__text p {
  margin-top: 40px;
  max-width: 370px;
  width: 100%;
}
@media (max-width: 1023px) {
  .financial__text p {
    max-width: 680px;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .financial__text p {
    max-width: 235px;
    width: 100%;
    margin-top: 20px;
  }
}
.financial__text span {
  display: block;
  color: #4D4F53;
}
.financial__text span:first-of-type {
  font-size: 12rem;
  line-height: 10rem;
  margin-top: 108px;
  font-weight: 300;
}
@media (max-width: 1023px) {
  .financial__text span:first-of-type {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .financial__text span:first-of-type {
    margin-top: 35px;
    font-size: 10rem;
    line-height: 9rem;
  }
}
.financial__text span:first-of-type i {
  font-size: 12rem;
  line-height: 10rem;
  margin-top: 108px;
  font-style: normal;
}
@media (max-width: 1023px) {
  .financial__text span:first-of-type i {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .financial__text span:first-of-type i {
    margin-top: 35px;
    font-size: 10rem;
    line-height: 9rem;
  }
}
.financial__text span:last-of-type {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
  max-width: 270px;
  width: 100%;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .financial__text span:last-of-type {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 251px;
    width: 100%;
  }
}

.financial__results {
  display: inline-block;
  text-align: right;
}
@media (max-width: 1210px) {
  .financial__results {
    padding: 33px 20px 60px 20px;
  }
}
@media (max-width: 1023px) {
  .financial__results {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .financial__results {
    padding: 32px 20px 50px 20px;
  }
}

.financial__item {
  display: inline-block;
  max-width: 270px;
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
}
.financial__item:nth-of-type(7), .financial__item:nth-of-type(8) {
  margin-bottom: 0;
}
@media (max-width: 1023px) {
  .financial__item {
    max-width: 224px;
    width: 100%;
    margin-right: 25px;
  }
  .financial__item:nth-of-type(3), .financial__item:nth-of-type(6) {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .financial__item:nth-of-type(1), .financial__item:nth-of-type(3), .financial__item:nth-of-type(5), .financial__item:nth-of-type(7) {
    margin-right: 20px;
  }
  .financial__item:nth-of-type(2), .financial__item:nth-of-type(4), .financial__item:nth-of-type(6), .financial__item:nth-of-type(8) {
    margin-right: 0;
  }
}
@media (max-width: 520px) {
  .financial__item {
    max-width: 128px;
    width: 100%;
  }
}
@media (max-width: 425px) {
  .financial__item:first-of-type .financial__heading {
    padding-bottom: 13px;
  }
}

.financial__heading {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #4D4F53;
  font-family: Roboto, sans-serif;
}
@media (max-width: 520px) {
  .financial__heading {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

.financial__number {
  display: block;
  font-size: 5.4rem;
  line-height: 5.2rem;
  font-weight: 700;
  color: #B3A87C;
  margin-top: 10px;
}
@media (max-width: 520px) {
  .financial__number {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
.financial__number i {
  font-size: 5.4rem;
  line-height: 5.2rem;
  font-weight: 700;
  color: #B3A87C;
  font-style: normal;
}
@media (max-width: 520px) {
  .financial__number i {
    font-size: 3rem;
    line-height: 3.6rem;
  }
}

.financial__percentage {
  display: block;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 400;
  color: #4D4F53;
  margin-top: 10px;
}
@media (max-width: 520px) {
  .financial__percentage {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.glance {
  padding-top: 100px;
}
@media (max-width: 1024px) {
  .glance {
    padding-top: 29px;
  }
}
@media (max-width: 425px) {
  .glance {
    padding-top: 21px;
  }
}
.glance span {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #4D4F53;
}
@media (max-width: 425px) {
  .glance span {
    font-size: 1.4rem;
  }
}

@media (max-width: 1210px) {
  .glance__container {
    padding: 0 20px;
  }
}
@media (max-width: 425px) {
  .glance__container h2 {
    line-height: 3.2rem;
  }
}

.glance__wrapper {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .glance__wrapper {
    margin-top: 71px;
  }
}
@media (max-width: 767px) {
  .glance__wrapper {
    margin-top: 49px;
  }
}
.glance__wrapper h3 {
  margin-top: 15px;
  font-size: 3.3rem;
  line-height: 4.5rem;
  font-weight: 700;
  color: #4D4F53;
}
@media (max-width: 768px) {
  .glance__wrapper h3 {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }
}
@media (max-width: 425px) {
  .glance__wrapper h3 {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

.glance__wrapper--primary {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
  border-bottom: 1px solid rgba(77, 79, 83, 0.15);
}
@media (max-width: 768px) {
  .glance__wrapper--primary {
    margin-top: 30px;
    padding-bottom: 49px;
  }
}
@media (max-width: 767px) {
  .glance__wrapper--primary {
    flex-direction: column;
    padding-bottom: 24px;
  }
}

.glance__block {
  max-width: 520px;
  width: 100%;
}
@media (max-width: 1024px) {
  .glance__block {
    max-width: 350px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .glance__block {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .glance__block:nth-of-type(2) {
    margin-top: 30px;
  }
}

.glance__paragraph {
  margin-top: 15px;
}
@media (max-width: 425px) {
  .glance__paragraph {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.glance__paragraph-small {
  max-width: 480px;
  width: 100%;
  margin-top: 30px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .glance__paragraph-small {
    max-width: 323px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .glance__paragraph-small {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .glance__paragraph-small {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}