@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  display: flex;
}

h1 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 700;
  color: #B3A87C;
}
@media (max-width: 425px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 4.8rem;
  line-height: 5.2rem;
  font-weight: 500;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 500;
}
@media (max-width: 425px) {
  h4 {
    font-size: 1.6rem;
  }
}

h5 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: 300;
}
@media (max-width: 425px) {
  h5 {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

p {
  font-size: 2.3rem;
  line-height: 3.3rem;
  font-weight: 300;
  color: #4D4F53;
}

@font-face {
  font-family: "Icons";
  src: url("../fonts/Icons.eot");
  src: url("../fonts/Icons.eot?#iefix") format("eot"), url("../fonts/Icons.woff") format("woff"), url("../fonts/Icons.ttf") format("truetype"), url("../fonts/Icons.svg#Icons") format("svg");
}
[class^=icon-]:before, [class^=icon-]:after {
  font-family: "Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:after {
  font-family: "Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e001";
}

.icon-Group:before {
  content: "\e002";
}

.icon-legal-logo-2:before {
  content: "\e003";
}

.icon-legal-logo:before {
  content: "\e004";
}

.icon-menu:before {
  content: "\e005";
}

header {
  background-color: #4D4F53;
}

button {
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button .icon-menu {
  font-size: 1.6rem;
  color: #FFFFFF;
}
button .icon-close {
  font-size: 1.6rem;
  color: #FFFFFF;
}

.icon-close-btn {
  display: none;
}

.icon-menu-btn {
  display: none;
}

.navbar {
  position: relative;
  top: 29px;
  transition: all 0.35s ease;
}
@media (max-width: 768px) {
  .navbar {
    top: 0;
  }
}

.navbar__content {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  padding-top: 25px;
  padding-bottom: 22.5px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1210px) {
  .navbar__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .navbar__content {
    padding-top: 25px;
  }
}
@media (max-width: 425px) {
  .navbar__content {
    padding-top: 15px;
    padding-bottom: 14px;
  }
}

.navbar__menu {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
  border-top: 1px solid #DAE3EC;
  z-index: 3;
  display: none;
}
@media (max-width: 425px) {
  .navbar__menu {
    text-align: left;
    padding-left: 20px;
  }
}

.navbar__list {
  margin-top: 50px;
  margin-bottom: 370px;
  list-style-type: none;
}
@media (max-width: 768px) {
  .navbar__list {
    margin-top: 70px;
    margin-bottom: 411px;
  }
}
@media (max-width: 425px) {
  .navbar__list {
    margin-top: 30px;
    margin-bottom: 312px;
  }
}
.navbar__list li {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .navbar__list li {
    margin-bottom: 17px;
  }
}
.navbar__list li:last-of-type {
  margin-bottom: 0;
}
.navbar__list li:nth-of-type(3) a {
  color: #AC672E;
}
.navbar__list li a {
  text-decoration: none;
  color: #4D4F53;
  font-size: 2.6rem;
  line-height: 3.9rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .navbar__list li a {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (max-width: 425px) {
  .navbar__list li a {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.navbar__logo {
  z-index: 1;
  height: 42.5px;
  width: auto;
  display: none;
}
@media (max-width: 425px) {
  .navbar__logo {
    height: 31px;
    width: auto;
  }
}

.header__container {
  z-index: 1;
  max-width: 570px;
  width: 100%;
  margin-top: 105px;
  margin-bottom: 197px;
}
@media (max-width: 1210px) {
  .header__container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .header__container {
    margin-top: 57px;
    max-width: 544px;
    margin-bottom: 16px;
  }
}
@media (max-width: 425px) {
  .header__container {
    margin-top: 35px;
    margin-bottom: 5px;
  }
}

.header__group {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  max-width: 750px;
  width: 100%;
}
@media (max-width: 768px) {
  .header__group {
    position: relative;
    margin-bottom: -50.5%;
    max-width: 768px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
}

.header__content h4 {
  color: #FFFFFF;
  margin-bottom: 24px;
}
.header__content h4:last-of-type {
  display: none;
}
@media (max-width: 768px) {
  .header__content h4 {
    display: none;
  }
  .header__content h4:last-of-type {
    display: block;
  }
}
@media (max-width: 425px) {
  .header__content h4 {
    margin-bottom: 20px;
  }
}
.header__content hr {
  width: 100px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}
@media (max-width: 425px) {
  .header__content hr {
    margin-bottom: 20px;
  }
}
.header__content h1 {
  margin-bottom: 24px;
}
@media (max-width: 425px) {
  .header__content h1 {
    margin-bottom: 20px;
  }
}
.header__content h5 {
  color: #FFFFFF;
}

.hero {
  height: 2000px;
  background-color: aquamarine;
}

.sticky {
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  top: 0;
  z-index: 2;
}

.active {
  display: inline-block;
}

button .menu-active {
  color: #B86E2E;
}

@media (min-width: 768px) {
  .container--active {
    margin-top: 196px;
  }
}