$icon_font_name:"Icons";
@font-face {
	font-family:$icon_font_name;
	src: url('../fonts/Icons.eot');
	src: url('../fonts/Icons.eot?#iefix') format('eot'),
	url('../fonts/Icons.woff') format('woff'),
	url('../fonts/Icons.ttf') format('truetype'),
	url('../fonts/Icons.svg#Icons') format('svg');
}
%icon-Arrow,
%icon-close,
%icon-Group,
%icon-Image1,
%icon-Image2,
%icon-Image3,
%icon-legal-logo-2,
%icon-legal-logo,
%icon-menu,
%last_selector {
		&:before {
			font-family:$icon_font_name;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

	[class^="icon-"] {
	&:before,
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

[class^="icon-"] {
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.icon-Arrow:before {
    content:'\E001';
}
.icon-close:before {
    content:'\E002';
}
.icon-Group:before {
    content:'\E003';
}
.icon-Image1:before {
    content:'\E004';
}
.icon-Image2:before {
    content:'\E005';
}
.icon-Image3:before {
    content:'\E006';
}
.icon-legal-logo-2:before {
    content:'\E007';
}
.icon-legal-logo:before {
    content:'\E008';
}
.icon-menu:before {
    content:'\E009';
}