.slider__container {
    max-width: 1760px;
    width: 100%;
    height: 720px;
    margin: auto;
    overflow: hidden;
    position: relative;

    @include for-tablet {  
        height: 500px;
    }

    @include for-mobile-L {  
        height: 360px;
    }
}

.slider__content {
    height: 100%;
    width: 300%;
    display: flex;
    scroll-behavior: smooth;
    transition: 0.5s;
}

.slider__card {
    padding-top: 170px;
    height: 100%;
    max-width: 1760px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media (max-width:1210px) {
        padding-left: 20px;
    }

    @include for-tablet {  
        padding-top: 70px;
        background-size: auto 500px;
    }

    @include for-mobile-L {  
        padding-top: 30px;
        background-size: auto 360px;
    }
}

.container--primary {
    @include for-laptop-L {  
        justify-content: center;
    } 

    @include for-tablet {  
        justify-content: flex-start;
    } 
}

.slider__text {
    position: relative;
    max-width: 570px;
    width: 100%;
    z-index: 2;

    h2 {
        letter-spacing: -2.56px;
        color: $White;

        @include for-mobile-L {  
            letter-spacing: 0;
        }
    } 
}

.slider__paragraph {
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 300;
    margin-top: 40px;
    color: $White;

    @include for-tablet {  
        display: none;
    }
}

.slider__paragraph--responsive {
    padding: 27px 20px 60px 20px;
    display: none;

    @include for-mobile-L {  
        padding: 27px 20px 50px 20px;
    }

    p {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: $OldGrey;

        @include for-mobile-L {  
            font-size: 1.8rem;
            line-height: 2.6rem;
        }
    }
}

.slider__arrows {
    position: relative;
    z-index: 2;

    @include for-tablet {  
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $White;
        opacity: 0.8;
    }

    @include for-mobile-L {  
        height: 70px;
    }
}

.slider-Arrow {
    position: absolute;
    bottom: 330px;
    width: 60px;
    height: 60px;
    border: 1.5px solid $White;
    border-radius: 50%;

    @include for-tablet {  
        position: relative;
        bottom: 5px;
        border: 1.5px solid $NewGrey;
    }

    @include for-mobile-L {  
        width: 40px;
        height: 40px;
    }

    .icon-arrow-left {
        font-size: 5rem;
        color: $White;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }

        @include for-tablet {  
            color: $NewGrey;
        }

        @include for-mobile-L {  
            font-size: 3rem;
        }
    }

    .icon-arrow-right {
        @extend .icon-arrow-left;
    }
}

.slider__prev-Arrow {
    left: 140px;
    
    @include for-tablet {  
        left: 20px;
    }
}

.slider__next-Arrow {
    right: 140px;
    transform: rotate(180deg);

    @include for-tablet {  
        right: 20px;
    }
}

.slider__indicators {
    position: absolute;
    bottom: 41px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;

    @include for-tablet {  
        position: relative;
        bottom: 0;
        left: 0;
        transform: translateX(0);
    }

    li {
        display: inline;
    }
}

.slider__indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid $OldGrey;
    background-color: $OldGrey;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;

    @include for-mobile-L {  
        width: 10px;
        height: 10px;
        margin-right: 14px;
    }
}

.slider__indicator--primary {
    margin-right: 0;
}

.indicator__active {
    background-color: $White;
}

.paragraph__active {
    @include for-tablet {  
        display: inline-block;
    }
}


